/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.weather-info-full {
	column-gap: 1rem;
	display: grid;
	grid-template-columns: 40% auto;
	padding: 1.25rem 0.75rem;

	.sr-only {
		display: none;
	}

	.icon-space {
		text-align: center;
	}

	.icon {
		color: #ffcc00;
		font-size: 5.4rem;
	}

	.description {
		display: block;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 1.1;
		margin-bottom: .4rem;
	}

	.temperature {
		font-size: 4.3rem;
		line-height: 1;
		margin-top: 1.6rem;
	}

	.feels-like {
		display: block;
		margin-bottom: 0.6rem;
	}

	.feels-like-temp {
		font-weight: 500;
	}

	.icon-list {
		column-gap: 10px;
		display: grid;
		grid-template-columns: auto auto;

		.wi {
			color: #333;
			font-size: 1.2rem;
		}
	}

	.additional-data {
		column-gap: 1rem;
		display: grid;
		grid-template-columns: auto auto;

		.wi-wind {
			color: #0056a2;
			font-size: 1.2rem;
		}

		dt,
		dd {
			margin-bottom: .2rem;
		}

		dd {
			vertical-align: middle;
		}
	}

	.separator {
		font-weight: 100;
	}

	.high {
		color: #ad8b00;
	}

	.low {
		color: #0056a2;
	}
}

.weather-info-ribbon {
	padding: 1.25rem 0.75rem;

	.temperature {
		font-size: 2.9rem;
	}

	.icon {
		color: #ffcc00;
		font-size: 2.4rem;
		padding-right: 1rem;
	}

	.high,
	.low,
	.separator {
		font-size: 2.5rem;
	}

	.separator {
		font-weight: 100;
	}

	.high {
		color: #ad8b00;
	}

	.low {
		color: #0056a2;
	}
}

.weather-info-compact {
	padding: 1.25rem 0.75rem;

	.temperature {
		font-size: 1.5rem;
	}

	.icon {
		color: #ffcc00;
		font-size: 1.1rem;
	}
}
